@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap');

:root{

    --font__family: 'Roboto', sans-serif;

    /* ------------------ Color ----------------------- */
    --white:#fff;
    --logo:hsla(0, 0%, 100%, 0.5);
    --Gray__Blue:hsla(220, 26%, 60%, 1);
    
}



*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: var(--font__family) ;

}
html{
    font-size: 62.5% ;
    font-family: var(--font__family);
}


/* ---------------------------------- Hero section -------------------------- */

.bg__section{
    background:linear-gradient(rgba(0, 0, 0, 0.425),rgba(0, 0, 0, 0.425)) ,url('./assets/images/mobile.svg') ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    color:var(--white);
    position: relative;
    height: 125vh;
    
    
}


.nav__section{
    display: flex;
    gap: 2rem;
    justify-content: center ;
    padding: 2rem;

}

header u{
    display: flex;
    gap: 1.5rem;
}

.navi__one{
    font-size: 2rem;
    font-weight: 700;
}

.navi__one ul:last-child {
    margin-top: .3rem;

}

.navi__two,
.navi__tree ul:last-child,
.navi__four ul:last-child,
.navi__five ul:last-child{
    display: none;
}

.ligne{
    border: 1px solid var(--white);
    opacity: 0.2;
}

.hero__section{
    text-align: center;
    margin: 25% auto;
    max-width: 200px;

}

.hero__section h1{
    font-size: 4rem;
    line-height: 6rem;
    /* width: 200px; */
    /* margin: 0 auto; */
}


.hero__section p{
    margin:25px auto;
    font-size: 1.5rem;
    line-height: 3rem;
    font-weight: 700;
    /* margin-bottom: 50%; */
    
}



.btn__hero01{
    display: none;

}

.btn__hero02{
   position: absolute;
   left: 120px;
   bottom: -150px;
   border: dashed black;
   border-radius: 30px;

}

button{
    padding: 1rem 3rem;
    border-radius: 30px;
    border: none;
    background-color: var(--white);
    color: var(--Gray__Blue);
    box-shadow: 0px 2px 5px 0px rgba(38, 51, 77, 0.03);
}


