@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap');

:root{

    --font__family: 'Roboto', sans-serif;

    /* ------------------ Color ----------------------- */
    --white:#fff;
    --logo:hsla(0, 0%, 100%, 0.5);
    --Gray__Blue:hsla(220, 26%, 60%, 1);
    --gray-blue-50: #4D5E80;
    --black :hsla(0, 0%, 0%, 1);
    --blue:hsla(227, 100%, 60%, 1);
    --Bronze:hsla(28, 67%, 48%, 1);
    --Bronze__dark:hsla(28, 100%, 30%, 1);
    --grayBlue__45:hsla(220, 29%, 35%, 1);
    --grayBlue__70:hsla(220, 26%, 60%, 1);
    --grayBlue__80: hsla(219, 23%, 74%, 1);
    --grayBlue__85:hsla(221, 22%, 81%, 1);
    --grayBlue__91:hsla(220, 20%, 89%, 1);
    --grayBlue__95: hsla(216, 16%, 94%, 1);
    --green:hsla(126, 67%, 48%, 1);
    --ProductColor:hsla(30, 41%, 87%, 1);
    --Product-Color-Product-Color-20:#DBE7E0;
    
}



*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: var(--font__family) ;

}
html{
    font-size: 62.5% ;
    font-family: var(--font__family);
}


/* ---------------------------------- Hero section -------------------------- */
body{
    width: 390px;
    /* margin: 0px auto; */

}
.bg__section{
    background:linear-gradient(rgba(0, 0, 0, 0.425),rgba(0, 0, 0, 0.425)) ,url('/assets/images/mobile.svg') ;
    /* background-position:center; */
    background-repeat: no-repeat;
    background-size: 100%;
    color:var(--white);
    position: relative;
    /* height: 140vh; */
    clip-path: ellipse(100% 100% at 50% 0%);
    
    
}


.nav__section{
    display: flex;
    height: 110px;
    padding: 0px 25px;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
    align-self: stretch;    
}

header u{
    display: flex;
    gap: 1.5rem;
}

.navi__one{
    font-size: 2rem;
    font-weight: 700;
}

.navi__one ul:last-child {
    margin-top: .3rem;

}

.navi__two,
.navi__tree ul:last-child,
.navi__four ul:last-child,
.navi__five ul:last-child{
    display: none;
}

.ligne{
    border: 1px solid var(--white);
    opacity: 0.2;
}

.hero__section{
    display: flex;
    padding: 0px 70px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;

}

.hero__section h1{
    margin-top: 110px;
    text-align: center;
    font-size: 5rem;
    font-weight: 700;
    line-height: 7rem;

}


.hero__section p{
    text-align: center;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 700;
    margin-bottom: 210px;
}



.btn__hero01{
    display: none;

}

.btn__hero02{
    position: absolute;
    left: 140px;
    /* bottom: -155px; */
    top: 710px;
    border-radius: 30px;
}

button{
    padding: 1rem 3rem;
    border-radius: 30px;
    border: none;
    background-color: var(--white);
    color: var(--Gray__Blue);
    box-shadow: 0px 2px 5px 0px rgba(38, 51, 77, 0.03);
    height: 60px;
}

/* -------------------- Main content ------------------------ */
main{
    background: var(--gray-blue-grey-blue-98, #F7F8FA);
    margin:10px;
}
.section__one,
.section__two,
.section__three{
    display: flex;
    flex-direction: column;
    position: relative;
    margin-top: 40px;
    align-items:center;
    padding: 0px 15px;
    gap: 30px;

}
.section__two,
.section__three{
    margin-top: 30px;
}


.what__new,
.bestSellers,
.looks_instagram{
    display: flex;
    flex-direction: row;
    /* justify-content:space-between; */
    position: absolute;
    gap: 5rem;
}
.section__one > h1,
.section__two > h1,
.section__three > h1{
    color: var(--gray-blue-50);
    font-size: 5rem;
    font-weight: 900;
    text-transform: uppercase;
    opacity: 0.03;
}

.what__newSub01,
.what__newSub02,
.btn__whatNew{
    display: flex;
    gap: 2rem;
    color: var(--gray-blue-50);
    font-weight: 700;
    margin-right: 30px;
}
.what__newSub01 >h1,
.what__newSub02 >h1,
.btn__whatNew >h1 {
    font-size: 1.6rem;
    margin-top: 5px;
}

.what__newSub01 svg{
    width: 30px;
    height: 30px;
    
}

.what__newSub02 h1{
    display: none;

}

.btn__whatNew{
    width: 30px;
    height: 30px;
    box-shadow: 0px 2px 5px 0px rgba(38, 51, 77, 0.03);
}

.bag__whatNew,
.bag__Bestsellers,
.bag__instagram{
    display: flex;
    flex-direction: column;
    margin-top: 90px;
    gap: 20px;
}

.bag__what01,
.bag__what02,
.bag__best{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
    position: relative;
    border-radius: 20px;
    /* margin-left: 10px; */
}

.bag__what01{
    background-color: var(--ProductColor);
}

.bag__what01 h1,
.bag__what02 h1,
.bag__best h1{
    margin-bottom: 30px;
    color: var(--Bronze);
    font-size: 1.8rem;
    font-weight: 700;
}

.bag__what01 p,
.bag__what02 p,
.bag__best p{
    background-color: var(--Bronze);
    height: 40px;
    padding: 10px 20px;
    border-radius: 20px;
    position: absolute;
    top: 260px;
    color: var(--white);
    text-align: center;
    align-self: center;
    font-size: 1.4rem;
    font-weight: 900;
    text-align: center;
    width: 70px;
}

.bag__what02,
#bag__best03,
#bag__best04,
#bag__best05,
#bag__best06{
    display: none;
}

.color__switch{
    margin-top: 40px;
}



#bag__best01{
    background-color: var(--grayBlue__91);
    padding: 30px 0px;
    width: 325px;
    margin: 50px 20px;
}
#bag__best01 p{
    background: var(--green);
}

#bag__best01 h1{
    color: var(--gray-blue-50);
    font-size: 1.5rem;
}

#bag__best02{
    background-color: var(--grayBlue__95);
    padding: 30px 0px;
    width: 325px;
    margin: 50px 20px;
}
#bag__best02 p,
#bag__best05 p,
#bag__best06 p{
    background: var(--grayBlue__45);

}

.bag{
    display: none;
}

#bag__best02 h1,
#bag__best05 h1,
#bag__best06 h1{
    font-size: 1.5rem;
    color: var(--gray-blue-50);
}

.bag__instagram{
    flex-direction: row;
    gap: 30px;
    width: 330px;
}

.bag__insta img{
    height: 150px;
    border-radius: 10px;
    margin: 0px auto;
}

.insta__display{
    display: none;
}
.section__three{
    background-color: var(--gray-blue-grey-blue-98, #F7F8FA);
}

/* ------------------------------ Footer Section ------------------------------ */
footer{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
    background-color: var(--gray-blue-grey-blue-98, #F7F8FA);
    padding: 50px 50px;
    margin: -20px;
    align-items: start;
}

.footer__section01{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.footer__one{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer__nav01 u,
.footer__nav02 u,
.footer__nav03 u{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.footer__nav01 u ul,
.footer__nav02 u ul,
.footer__nav03 u ul{
    color: var(--grayBlue__70);
    font-size: 1.3rem;
    font-weight: 700;
    line-height: 25px;
}


.footer__two u{
    display: flex;
    flex-direction: column;
    gap: 20px;
    
}

.heading__footer{
    font-size: 2.4rem;
    font-weight: 700;
    color:var(--gray-blue-50)
}

.para__footer p{
    font-size: 1.3rem;  
    font-weight: 700;
    color: var(--grayBlue__80);
    display: inline;
}

.footer__section02 {
    display:flex;
    flex-direction: column;
    gap:30px

}

.about u{
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 1.2rem;
    font-weight: 700;
    color: var(--grayBlue__70);
}
.about__sub{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.about__sub ul a,
.contact u ul a{
    color: var(--grayBlue__70);
}
.contact u{
    display: flex;
    flex-direction: row;
    gap: 60px;
    font-size: 1.2rem;
    font-weight: 700;
    align-items: center;
}



/* -------------------------- Destop View ---------------------------------- */
@media(min-width:990px) {
    body{
        width: 100%;
        background-color: var(--gray-blue-grey-blue-98, #F7F8FA);
    }

    /* ---------------------------------- hero section ------------------------------------------------ */
    .bg__section{
        background:linear-gradient(rgba(0, 0, 0, 0.425),rgba(0, 0, 0, 0.425)) ,url('/assets/images/Image.svg') ;
        background-position:center;
        background-repeat: no-repeat;
        background-size: 100%;

    }

    .nav__section{
        padding: 0px 80px;
    }

    header u{
        gap: 3.5rem;
    }

    .navi__two a,
    .navi__tree ul,
    .navi__four ul,
    .navi__five ul{
        font-size: 2rem;
        color: var(--white);
        font-weight: 700;
    }


    .navi__two u{
        gap: 6rem;
    }

    .navi__tree u,
    .navi__four u,
    .navi__five u{
        gap:2.1rem ;
        align-items: flex-start;
    }
    .navi__tree ul p,
    .navi__four ul p,
    .navi__five ul p{
        margin-top: .7rem;
    }

    .navi__two,
    .navi__tree ul:last-child,
    .navi__four ul:last-child,
    .navi__five ul:last-child{
        display:contents;
    }

    .bag__what02,
    #bag__best03,
    #bag__best04,
    #bag__best05,
    #bag__best06{
        display: contents;
    }

    .hero__section{
        gap: 30px;
    }
    .ligne{
        margin-top: -20px;
    }

    .hero__section h1{
        margin-top: 100px;
        font-size: 6.4rem;
        font-weight: 400;
        line-height: 9rem;        
    }

    .hero__section p{
        margin-bottom: 20px;
    }

    .btn__hero01{
        display: contents;
        display: flex;
        height: 60px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        margin-bottom: 120px;

    }

    .btn__hero01 a{
        border-radius: 30px;
        border: 2px  var(--Black-Black, #000);
        background: var(--Black-Black, #000);
        color: var(--white);
        padding: 15px 35px;
    }

    .btn__hero01 a:nth-of-type(2){
        background: var(--black-black-50, rgba(0, 0, 0, 0.50));
    }

    .btn__hero02{
        left: 45%;
        top: 530px;
    }

    /* -------------------- Main Content ---------------------------- */
    main{
        margin: 0px;
        display: flex;
        flex-direction: column;
        gap: 30px;
    }
    .what__newSub02 h1{
        display: contents;
        display: flex;
    }
    .section__one > h1,
    .section__two > h1,
    .section__three > h1{
        font-size: 10rem;
        margin-left: -150px;
        text-align: lefts;
    }

    .section__one,
    .section__two,
    .section__three{
        /* align-items: flex-start; */
        background-color: var(--gray-blue-grey-blue-98, #F7F8FA);
        margin: 0px auto;

    }
    .section__one{
        margin-top: 50px;
    }

    .what__new,
    .bestSellers,
    .looks_instagram{
        justify-content: space-between;
        gap: 370px;
        margin-top: 50px;
        
    }
    .bag__whatNew,
    .bag__bestsellers,
    .bag__instagram{
        margin-top: -30px;
    }
    .bag__what01 h1,
    .bag__what02 h1,
    .bag__best h1{
        font-size: 2rem;
        margin-bottom: 0px;
    }   
    .bag__whatNew{
        flex-direction: row;
        justify-content: center;
        gap: 50px;
    }

    .bag__what01,
    .bag__what02,
    .bag__best{
        padding: 60px;
        gap: 45px;
    }

    .bag__what01 p{
        top: 350px;
    }   
    .bag__what01{
        padding: 60px 120px;
    }
    .bag{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 60px 110px;
        position: relative;
        border-radius: 20px;
        background: var(--Product-Color-Product-Color-20);
        gap: 45px;
        
    }

    .bag h1{
        color: var(--gray-blue-50);
        font-size: 2rem;
    }
    
    .bag p{
        height: 40px;
        padding: 10px 20px;
        justify-content: center;
        align-items: center;
        border-radius: 20px;
        position: absolute;
        top: 350px;
        color: var(--white);
        text-align: center;
        font-size: 1.4rem;
        font-weight: 900;
        width: 70px;
        background-color: var(--gray-blue-50);
    }

    /* ----------------------- Best sellers ------------------------- */

    .section__two{
        margin-top: -30px;

    }
    .section__two > h1{
        margin-left: -100px;
    }

    .bag__Bestsellers{
        margin-top: 0px;
        /* margin: 0px auto; */
        justify-content: flex-start;
    }
    .bagBest__section01,
    .bagBest__section02{
        display: flex;
        /* align-items: flex-start; */
        margin-top: -30px;
    }

    .bag__best p{
        top:260px;
    }
    .bagBest__section02{
        margin-top: 20px;
    }
    
    #bag__best01,
    #bag__best02,
    #bag__best03,
    #bag__best04,
    #bag__best05,
    #bag__best06{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        border-radius: 20px;
        padding: 40px 0px;
        width: 295px;
        margin: 0px 20px;
        gap: 25px;
    }

    #bag__best03 h1,
    #bag__best04 h1,
    #bag__best05 h1,
    #bag__best06 h1{
        font-size: 1.6rem;
        margin-bottom: 0px;
    }

    #bag__best03{
        background: var(--ProductColor);
    }

    #bag__best04{
        background: var(--Product-Color-Product-Color-19, #EEEBE6);
    }

    #bag__best05{
        background-color: var(--grayBlue__91);
    }

    #bag__best06{
        background: var(--Product-Color-Product-Color-19, #EEEBE6);
    }

    /* ------------- instagram ---------------------- */
    .insta__display{
        display: contents;
    }

    .bag__insta img{
        height: 220px;
    }

    .bag__instagram{
        justify-content: center;
        width: 300px;
    }

    footer{
        gap: 60px;
        margin: 0px;
        justify-content: center;
        align-items: center;
    }

    .footer__nav01{
        display: flex;
        gap: 60px;
    }

    .home u,
    .about__foot u,
    .customer__foot u,
    .shipping u{
        display: flex;
        flex-direction: column;
    
    }

    .footer__one{
        flex-direction: row;
        gap: 175px;
    }


    .para__footer p{
        display: block;
    }

    .footer__nav02{
        display: flex;
        justify-content: space-betweens;
        gap: 80px;
    }

    .footer__section02{
        flex-direction: row;
        gap: 150px;
    }

    .about u{
        flex-direction: row;
        margin-top: 5px;
        margin-left: -230px;
    }

    .contact u{
        /* align-items: normal; */
        gap: 80px;
    }
}