@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap');

:root{

    --font__family: 'Roboto', sans-serif;

    /* ------------------ Color ----------------------- */
    --white:#fff;
    --logo:hsla(0, 0%, 100%, 0.5);
    --Gray__Blue:hsla(220, 26%, 60%, 1);
    --gray-blue-50: #4D5E80;
    --black :hsla(0, 0%, 0%, 1);
    --blue:hsla(227, 100%, 60%, 1);
    --Bronze:hsla(28, 67%, 48%, 1);
    --Bronze__dark:hsla(28, 100%, 30%, 1);
    --grayBlue__45:hsla(220, 29%, 35%, 1);
    --grayBlue__70:hsla(220, 26%, 60%, 1);
    --grayBlue__80: hsla(219, 23%, 74%, 1);
    --grayBlue__85:hsla(221, 22%, 81%, 1);
    --grayBlue__91:hsla(220, 20%, 89%, 1);
    --grayBlue__95: hsla(216, 16%, 94%, 1);
    --green:hsla(126, 67%, 48%, 1);
    --ProductColor:hsla(30, 41%, 87%, 1);
    
}



*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: var(--font__family) ;

}
html{
    font-size: 62.5% ;
    font-family: var(--font__family);
}


/* ---------------------------------- Hero section -------------------------- */
body{
    width: 375px;
    height: 690px;

}
.bg__section{
    background:linear-gradient(rgba(0, 0, 0, 0.425),rgba(0, 0, 0, 0.425)) ,url('/assets/images/mobile.svg') ;
    /* background-position:center; */
    background-repeat: no-repeat;
    background-size: 100%;
    color:var(--white);
    position: relative;
    /* height: 110vh; */
    clip-path: ellipse(100% 100% at 50% 0%);
    
    
}


.nav__section{
    display: flex;
    height: 110px;
    padding: 0px 25px;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
    align-self: stretch;    
}

header u{
    display: flex;
    gap: 1.5rem;
}

.navi__one{
    font-size: 2rem;
    font-weight: 700;
}

.navi__one ul:last-child {
    margin-top: .3rem;

}

.navi__two,
.navi__tree ul:last-child,
.navi__four ul:last-child,
.navi__five ul:last-child{
    display: none;
}

.ligne{
    border: 1px solid var(--white);
    opacity: 0.2;
}

.hero__section{
    display: flex;
    padding: 0px 70px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;

}

.hero__section h1{
    margin-top: 90px;
    text-align: center;
    font-size: 4.8rem;
    font-weight: 700;
    line-height: 7rem

}


.hero__section p{
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    margin-bottom: 130px;
}



.btn__hero01{
    display: none;

}

.btn__hero02{
    position: absolute;
    left: 130px;
    bottom: -155px;
    border-radius: 30px;

}

button{
    padding: 1rem 3rem;
    border-radius: 30px;
    border: none;
    background-color: var(--white);
    color: var(--Gray__Blue);
    box-shadow: 0px 2px 5px 0px rgba(38, 51, 77, 0.03);
}

/* -------------------- Main content ------------------------ */
main{
    background: var(--gray-blue-grey-blue-98, #F7F8FA);
}
.section__one,
.section__two{
    display: flex;
    flex-direction: column;
    position: relative;
    margin-top: 20px;
    align-items:center;
    padding: 0px 15px;
    gap: 30px;

}

.what__new,
.bestSellers{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    position: absolute;
    gap: 10rem;
}
.section__one > h1,
.section__two > h1{
    color: var(--gray-blue-50);
    font-size: 5rem;
    font-weight: 900;
    text-transform: uppercase;
    overflow: hidden;
    display: none;
}

.what__newSub01,
.what__newSub02,
.btn__whatNew{
    display: flex;
    gap: 2rem;
    font-size: 1.6rem;
    color: var(--gray-blue-50);
    font-weight: 700;
}

.what__newSub01 svg{
    width: 30px;
    height: 30px;
    
}

.what__newSub02 h1{
    display: none;

}

.btn__whatNew{
    width: 30px;
    height: 30px;
    box-shadow: 0px 2px 5px 0px rgba(38, 51, 77, 0.03);
}

.bag__whatNew,
.bag__bestsellers{
    display: flex;
    flex-direction: column;
    margin-top: 90px;
    gap: 20px;
}

.bag__what01,
.bag__what02,
.bag__best{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    position: relative;
    border-radius: 20px;
    /* margin-left: 10px; */
}

.bag__what01{
    background-color: var(--ProductColor);
}

.bag__what01 h1,
.bag__what02 h1,
.bag__best h1{
    margin-bottom: 30px;
    color: var(--Bronze);
    font-size: 1.8rem;
    font-weight: 700;
}

.bag__what01 p,
.bag__what02 p,
.bag__best p{
    background-color: var(--Bronze);
    height: 40px;
    padding: 10px 20px;
    border-radius: 20px;
    position: absolute;
    top: 260px;
    color: var(--white);
    text-align: center;
    align-self: center;
    font-size: 1.4rem;
    font-weight: 900;
    text-align: center;
    width: 70px;
}

.bag__what02,
#bag__best03,
#bag__best04,
#bag__best05,
#bag__best06{
    display: none;
}

.color__switch{
    margin-top: 40px;
}



#bag__best01{
    background-color: var(--grayBlue__91);
    padding: 30px 0px;
    width: 325px;
    margin: 50px 20px;
}

#bag__best02{
    background-color: var(--grayBlue__95);
    padding: 30px 0px;
    width: 325px;
    margin: 50px 20px;
}


.section__two{
    margin-top: 30px;
}


