@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap');

:root{

    --font__family: 'Roboto', sans-serif;

    /* ------------------ Color ----------------------- */
    --white:#fff;
    
}



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: var(--font__family) ;

}
html{
    font-size: 62.5% ;
    font-family: var(--font__family);
}



.bg__section{
    background-image: url('/assets/images/Imagehero-bg.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    color:var(--white);
}

.nav__section{
    display: flex;
    gap: 10%;
    margin: 0px auto;
}

header u{
    display: inline-flex;
    gap: 2.5em;
    margin-top: 40px;
}

.navi__one{
    font-size: 2rem;
}

.navi__two{

}

.navi__tree{

}

.navi__four{

}

.navi__five{

}

.hero__section{

}

.btn__hero01{

}

.btn__hero02{

}


